In [1]:
var_1 = "words" # string
var_2 = 10 # integer
var_3 = 10.0 # float
var_4 = [10, 10.0, "10", var_3, [var_1, var_2]] # list
var_5 = {"key_1":var_1,
         "key_2":var_4} # dictionary

var_5["key_3"] = "Value 3"

print(var_5["key_1"])
print(var_5.items())
print(var_5.keys())
print(var_5.values())

words
dict_items([('key_1', 'words'), ('key_2', [10, 10.0, '10', 10.0, ['words', 10]]), ('key_3', 'Value 3')])
dict_keys(['key_1', 'key_2', 'key_3'])
dict_values(['words', [10, 10.0, '10', 10.0, ['words', 10]], 'Value 3'])

In [2]:
# imports pandas package with the alias pd
import pandas as pd

In [12]:
# the 'r' before the file path tells python to read the path as a literal sting i.e. ignore special character type like %

filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/1980%202023%20average%20house%20prices.csv"

# to read from local files you need tyo import your operating system using the line 
# import os

# import openpyxl
# dfs = pd.read_excel(filepath, sheet_name=["sheet name 1", "sheet name 2"]) 
# dfs will be a dictionary where each key is the sheet name and each value is the df containing the table for that sheet

# dfs = {"sheet 1": df1,
#        "sheet 2": df2}
# df_1 = dfs["sheet 1"]


house_prices = pd.read_csv(filepath)
# DataFrame is the pandas word for tabular data
type(df)

df

df.info()
df.head()
df.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523 entries, 0 to 522
Data columns (total 6 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Name                                            523 non-null    object
 1   Period                                          523 non-null    object
 2   House price index All property types            523 non-null    float64
 3   Average price All property types                523 non-null    int64
 4   Percentage change (monthly) All property types  523 non-null    float64
 5   Percentage change (yearly) All property types   523 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 24.6+ KB

,Name,Period,House price index All property types,Average price All property types,Percentage change (monthly) All property types,Percentage change (yearly) All property types
518,United Kingdom,2023-03,148.2,282548,-1.0,3.2
519,United Kingdom,2023-04,148.9,283871,0.5,2.5
520,United Kingdom,2023-05,149.5,285053,0.4,1.6
521,United Kingdom,2023-06,151.2,288281,1.1,1.9
522,United Kingdom,2023-07,152.0,289824,0.5,0.6

In [ ]:
filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv"

child_identifiers = pd.read_csv(filepath)

child_identifiers
child_identifiers.info()
child_identifiers.head()
child_identifiers.tail(10)

In [ ]:
#house_prices

house_prices["Period_dt"] = pd.to_datetime(house_prices["Period"], format="%Y-%m-%d")

#house_prices["Period_dt"] = pd.to_datetime(house_prices["Period"], format="%Y-%m")

#house_prices["Period_dt"].info()

,Name,Period,House price index All property types,Average price All property types,Percentage change (monthly) All property types,Percentage change (yearly) All property types
0,United Kingdom,1980-01,10.11,19273,3.94,28.59
1,United Kingdom,1980-02,10.11,19273,3.94,28.59
2,United Kingdom,1980-03,10.11,19273,3.94,28.59
3,United Kingdom,1980-04,10.51,20044,4.00,24.15
4,United Kingdom,1980-05,10.51,20044,4.00,24.15
...,...,...,...,...,...,...
518,United Kingdom,2023-03,148.20,282548,-1.00,3.20
519,United Kingdom,2023-04,148.90,283871,0.50,2.50
520,United Kingdom,2023-05,149.50,285053,0.40,1.60
521,United Kingdom,2023-06,151.20,288281,1.10,1.90
522,United Kingdom,2023-07,152.00,289824,0.50,0.60

In [17]:
child_identifiers["PersonBirthDate_dt"] = pd.to_datetime(child_identifiers["PersonBirthDate"], format="%Y-%m-%d")
child_identifiers["ExpectedPersonBirthDate_dt"] = pd.to_datetime(child_identifiers["ExpectedPersonBirthDate"], format="%Y-%m-%d")

child_identifiers["PersonDeathDate_dt"] = pd.to_datetime(child_identifiers["PersonDeathDate"], format="%Y-%m-%d", errors="coerce")

child_identifiers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  332 non-null    int64
 1   LAchildID                   332 non-null    object
 2   UPN                         332 non-null    object
 3   FormerUPN                   0 non-null      float64
 4   UPNunknown                  0 non-null      float64
 5   PersonBirthDate             332 non-null    object
 6   ExpectedPersonBirthDate     7 non-null      object
 7   GenderCurrent               332 non-null    int64
 8   PersonDeathDate             21 non-null     object
 9   PersonBirthDate_dt          332 non-null    datetime64[ns]
 10  ExpectedPersonBirthDate_dt  7 non-null      datetime64[ns]
 11  PersonDeathDate_dt          20 non-null     datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(5)
memory usage: 31.3+ KB

In [18]:
max_change = house_prices["Percentage change (monthly) All property types"].max()
min_change = house_prices["Percentage change (monthly) All property types"].min()
sum_change = house_prices["Percentage change (monthly) All property types"].sum()

print(f"Max change: {max_change}, min change: {min_change}")

median_price = house_prices["Average price All property types"].median()
mean_price = house_prices["Average price All property types"].mean()

print(median_price)
print(mean_price)

condition = house_prices["Average price All property types"] < mean_price

less_than_mean = house_prices[condition]

less_than_mean

Max change: 13.29, min change: -4.79
97964.0
120570.55831739961

,Name,Period,House price index All property types,Average price All property types,Percentage change (monthly) All property types,Percentage change (yearly) All property types
0,United Kingdom,1980-01,10.11,19273,3.94,28.59
1,United Kingdom,1980-02,10.11,19273,3.94,28.59
2,United Kingdom,1980-03,10.11,19273,3.94,28.59
3,United Kingdom,1980-04,10.51,20044,4.00,24.15
4,United Kingdom,1980-05,10.51,20044,4.00,24.15
...,...,...,...,...,...,...
269,United Kingdom,2002-06,59.43,113304,4.09,17.41
270,United Kingdom,2002-07,59.90,114214,0.80,14.25
271,United Kingdom,2002-08,61.23,116743,2.21,16.78
272,United Kingdom,2002-09,62.72,119576,2.43,19.61
273,United Kingdom,2002-10,63.19,120486,0.76,22.99

In [ ]:
# age is current date - birth date

collection_end = pd.to_datetime("31/03/2025", format="%d/%m/%Y")

ci["time_delta"] = collection_end - ci["PersonBirthDate_dt"]

ci['Age'] = ci["time_delta"] / pd.Timedelta(365.25, "d")

ci['Age'] = ci["Age"].astype(int) # converting to integers rounds down to closest int

ci['Age']