In [ ]:
x = 2 # variable named x
y = 3 # variable named y
z = x + y # variable named z
z = z + 1 # variable named z
print(z) # print() function

In [ ]:
num_1 = 5 # integer - int
num_2 = 5.0 # float - float
num_3 = "5" # string - str
num_4 = '5' # string - str
num_5 = "William said 'hello'" # string - str

type(num_5)

In [2]:
''' 
/ - divide
* - times
type() - checks the type of data
print() - prints the data
'''

x = 5.0
y = 10 

z = y * x

print(z)

type(z) # type() function

int(z) # casts a type to a variable

50.0

50

In [ ]:
x = x + 1
print(x)

In [3]:
'''
In this cell, initialise two numeric variables and find their product
using the * operator for multiplication and assign this to a new variable.
Print the new variable
'''

x = 17
y = 2
z = x * y
print(z)

34

In [ ]:
'''
The radius of a circle is 2, assume that Pi is 3.14. Assign both of these
to suitably named variables and find the area of the circle.
We can find the area of a circle by finding the product of Pi with the radius squared.
You probably don't know how to square a number in Python yet, so use Google to work it out!
Pi x radius squared
Remember PEDMAS
'''

circle_radius = 2
Pi = 3.14
# **
circle_area = (circle_radius ** 2) * Pi

print(circle_area)

In [ ]:
name = "Will"
hobby = "Trail Running"

phrase_1 = "My name is " + name + ", and I like " + hobby + "."

print(phrase_1)

# Formatting string
phrase_2 = f"My name is {name}, and I like {hobby}."
print(phrase_2)

In [ ]:
# In this cell, initialise two appropriately named variables, one for your name and one for your job title.
# Next, combine them in an f string, assigned to a different, appropriately named variable.
# Finally, print the f string.

name = "Andrew"
job = "Data Manager"

name_job = f"{name} is a {job}."
print(name_job)

# Make a variable for a string and one for a number, 
# Try and add them (not inside an f string) and see what happens

In [ ]:
'''
String are iterable, and we can iterate over
i.e. a thing that has parts that can be accessed one at a time
note: counting/indexing in python starts at 0
'''

num_string = "123456789"

# sub_string = num_string[1]

# start is INCLUSIVE
# stop is EXCLUSIVE
# [start : stop: step]

# we can start counting from the right using a minus

sub_string = num_string[2::5]

sub_string2 = num_string[::5]

sub_string3 = num_string[5::]

sub_string4 = num_string[-1::-1]

print(sub_string)

print(sub_string2)

print(sub_string3)

print(sub_string4)

38
16
6789
987654321

In [9]:
filename = "ssda903_list_1.csv"

short_filename = filename[:-4]

short_filename2 = filename[8:-4]

print(filename)

print(short_filename)

print(short_filename2)

ssda903_list_1.csv
ssda903_list_1
list_1